In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

In [3]:
spark_session = SparkSession.builder.appName('Df_Example').getOrCreate()

In [4]:
spark_session

In [5]:
data = spark_session.read.option('header', 'true') \
                         .option('inferSchema', 'true') \
                         .csv('../../data/fakefriends-header.csv')

data.printSchema()

root
 |-- userID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- friends: integer (nullable = true)

In [6]:
data.select('name').show(5)

+--------+
|    name|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
|   Quark|
+--------+
only showing top 5 rows

In [15]:
data.filter(data['age'] > 25).select(['name', 'age']).show(5)

+--------+---+
|    name|age|
+--------+---+
|    Will| 33|
|Jean-Luc| 26|
|    Hugh| 55|
|  Deanna| 40|
|   Quark| 68|
+--------+---+
only showing top 5 rows

In [16]:
data.groupBy('age').count().show(5)

+---+-----+
|age|count|
+---+-----+
| 31|    8|
| 65|    5|
| 53|    7|
| 34|    6|
| 28|   10|
+---+-----+
only showing top 5 rows

In [19]:
data.select(data.name, (data.age + 12).alias('age2')).show(5)

+--------+----+
|    name|age2|
+--------+----+
|    Will|  45|
|Jean-Luc|  38|
|    Hugh|  67|
|  Deanna|  52|
|   Quark|  80|
+--------+----+
only showing top 5 rows

In [20]:
spark_session.stop()